* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 950px;   
    border-bottom: 20px solid green;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB , #E0F6FF );
}

.chao {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px; /* Altura do chão */
    background: linear-gradient(to top, #8b4513 50%, #4caf50 50%);
}



.pipe {
    position: absolute;
    bottom: 150px; /* Alinha o pipe com o topo do chão */
    width: 80px;
    animation: pipe-animation 1.5s infinite linear; 

    
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 150px; /* Alinha o Mario com o chão */
    
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px; /* O pipe começa fora da tela, à esquerda */
        bottom: 150px; /* Certifica que está no chão */
    }

    to {
         right: 100%; /* O pipe sai pelo lado direito da tela */
        bottom: 150px; /* Mantém o pipe no chão */
    }
}

@keyframes jump {

    0% {
        bottom: 150px; /* Ponto inicial do salto */
    }

 40%, 50%, 60% {
        bottom: 330px; /* Altura máxima do salto */
    }

    100% {
        bottom: 150px; /* Volta para o chão */
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}
